   
   * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    $myBlack: #222;
    $myGreen: #82b340;
    $myWhite:#fff;
    $myGrey:#ececec;

    body {
        background: $myWhite;
        color: $myBlack;
        font-family: 'Nanum Gothic', sans-serif;
    }

